modules = ["java-graalvm22.3"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Build Debug APK"

[[workflows.workflow]]
name = "Run Android"
author = 40796988
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GoogleAssistant-master && ./gradlew assembleDebug"

[[workflows.workflow]]
name = "Build Android APK"
author = 40796988
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GoogleAssistant-master && ./gradlew assembleRelease"

[[workflows.workflow]]
name = "Build Debug APK"
author = 40796988
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd GoogleAssistant-master && ./gradlew assembleDebug"
